section.start {
    width: max-content;
    height: 550px;
    margin: auto;
    border: 1px solid black;
    align-content: end;
    background-image: url(https://i0.wp.com/images.cntechpost.com/2020/05/8e8789ca5982152d9cbc059f6058a1a4.png?w=640&ssl=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    padding: 1.5rem;
}

section.startBtns{
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
}
