section.start {
    width: max-content;
    height: 80%;
    margin: auto;
    border: 1px solid black;
    align-content: end;
    background-image: url(https://i0.wp.com/images.cntechpost.com/2020/05/8e8789ca5982152d9cbc059f6058a1a4.png?w=640&ssl=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    padding: 2rem;
    border-radius: 10px;
}

section.startBtns {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
}
section.startBtns > button {
    border-radius: 12px;
    padding: 1rem 3rem;
    /* background-color: #30df04; */
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

button.log_in {
    color: #29c003;
}
button.log_in:hover{
    background-color: #bde6b2;
    /* color: white; */
}
button.sign_up {
    background-color: #29c003;
    color: white;
}
button.sign_up:hover{
    background-color: #77e95b;
}