section.log_in {
    width: max-content;
    min-width: 330px;
    height: 80%;
    margin: auto;
    border: 1px solid black;
background-color: rgb(36, 35, 35);
    display: grid;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}
section.log_in > h2{
    font-weight: 300;
}

form.log_in{
    display: grid;
}
